.ui-button .ui-button-text {
    padding: 0px 16px 0px 21px !important;
    font-size: .72em !important;
}

.adjustSearch,.purpdiv{
  height:600px;
}
.search-left { 
    width: 80px !important; 
    float:left;padding-bottom:10px; 
    padding-left:5px; 
}
.search-sleft { 
    width: 50px !important; 
    float:left;padding-bottom:10px; 
    padding-left:5px; 
}
.search-right{ 
    width: 150px !important; 
    margin-left:85px;
    padding-bottom:10px; 
}
.search-sright{ 
    width: 180px !important; 
    margin-left:55px;
    padding-bottom:10px; 
}
.search-half { 
    width: 110px !important; 
    float:left;
    padding-bottom:10px; 
    padding-left:5px; 
}
.search-full {
    padding-left:5px;
}
button.button-warlord {
    min-width: 110px;
    margin-left: 2px;
}
.deckCard {
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    display: inline-block;
}
.deckCardCostHeader{
    -webkit-column-break-after: avoid;
    break-after: avoid-column;
    padding-top: 10px;
}
.deckCard div.fright{
    float:right;
}
.deckCard table{
    width:100%;
    min-height:21px;
}
.viewImage{
    max-height:420px;
    max-width:380px;
}
.cardView{
    margin-left: 5px;
    margin-right: 5px;
    height:550px;
}
#viewDiv{
    text-align:center;	
}
.boxList{
    border: solid 1px #ccc;
    box-shadow: 3px 10px 15px #2C2B2B;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 5px;
}
.cardOption{
    padding: 2px;
    display: block;
    border-bottom: solid 1px #ddd;
    overflow: hidden;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    min-width: 240px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}
.cardOption:hover{
    background: #EAECEC;
    color: #000;
}
.cardOptionSelected{
    background: #E9EFEF	
}

#tabs-buttons .ui-tabs-nav { 
    padding: 0em; 
    background: transparent; 
    border-width: 0px; 
} 
#tabs-buttons .ui-tabs-nav li { 
    position: static; 
    margin: 0px; 
    border-bottom: 1px solid #CCCCCC !important; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 

} 
#tabs-buttons .ui-tabs-nav li:first-child { 
    -moz-border-radius: 6px 0px 0px 6px; 
    -webkit-border-radius: 6px 0px 0px 6px; 
    border-radius: 6px 0px 0px 6px; 
} 
#tabs-buttons .ui-tabs-nav li:last-child { 
    -moz-border-radius: 0px 6px 6px 0px; 
    -webkit-border-radius: 0px 6px 6px 0px; 
    border-radius: 0px 6px 6px 0px; 
} 
#tabs-buttons .ui-tabs-nav li.ui-tabs-selected { 
    padding-bottom: 0px; 
    border-bottom: 1px solid #d4ccb0 !important; 
}
.nodisplay{
    display:none;	
}
.smallWidth{
    width:48px !important;	
}
.font12{
    font-size:12px;	
}
.button-link {
    float:right;
    cursor:pointer;
    background:#093;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px rgb(26, 111, 46);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-link:hover {
    background: rgb(82, 182, 51);
    border: solid 1px rgb(40, 160, 64);
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: rgb(76, 129, 46);
    border: solid 1px rgb(32, 95, 55);
}
.red {
    background:#900;
    border: solid 1px #C03F54;
}
.red:hover {
    background: rgb(221, 6, 49);
    border: solid 1px rgb(148, 63, 105);
    text-decoration: none;
}
.red:active {
    background: rgb(218, 8, 34);
    border: solid 1px rgb(68, 7, 19);
}
.grey {
    background: #706868;
    border: solid 1px #9393A2;
}
.grey:hover {
    background: #706868;
    border: solid 1px #9393A2;
    text-decoration: none;
}
.grey:active {
    background: #706868;
    border: solid 1px #9393A2;
    box-shadow: none !important;
}
.blue {
    background: #457CC2;
    border: solid 1px #4141E9;
}
.blue:hover {
    background: #457CC2;
    border: solid 1px #4141E9;
    text-decoration: none;
}
.blue:active {
    background: #457CC2;
    border: solid 1px #4141E9;
    box-shadow: none !important;
}
.button-small{
    padding: 0;
    width: 20px;
    height: 20px;
    margin: 1px;
}

.button-touch{
    padding: 0;
    font-size:20px;
    width: 30px;
    height: 30px;
    margin: 1px;
}

#searchandresults {
    cursor:pointer;
    border-bottom: 1px solid gray;
    text-align: center;
    width: 265px;
    background: #F0F0F0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
#searchandresults:hover {
    background: #E4E7E7;
}
.wrapper{
    width:98%;
}

.ui-state-successmsg,
.ui-widget-content .ui-state-successmsg,
.ui-widget-header .ui-state-successmsg {
    border: 1px solid #8cce3b;
    background: #f1fbe5 url(/icons/ui-bg_glass_55_f1fbe5_1x400.png) 50% 50% repeat-x;
    color: #363636;
}

.redtext{
    color:#900;
}
.greentext{
    color: #00CC00;
}

#deckSubmit li:hover,#deckLoad li:hover{
    color:green;
    background: rgb(224, 223, 223);
    box-shadow: 1px 1px 2px #777;
}
#deckSubmit li,#deckLoad li{
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
}

.smalldisplay li{
    font-size:13px;
}
.smalldisplay td.cardImg/*, .smalldisplay div.deckCardSet */{
    display:none;
}
.smalldisplay  div.add,.smalldisplay div.subtract{
    float:right;
}
.smalldisplay td.adjustTD{
    width:48px !important;	
}

.smalldisplay-touch td.adjustTD{
    width:68px !important;	
}

.noset div.deckCardSet,.noset div.searchCardSet{
    display:none;
}
.noset td {
    padding:0px;
}

.R {
    padding: 0px 4px;
    height: 12px;
    line-height: 12px;
    background: #AC142C;
    color: #fff !important;
    font-size: 9px;
    text-align: center;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.decksavered{
    padding: 0px 4px;
    height: 20px;
    line-height: 20px;
    background: #AC142C;
    color: #fff !important;
    font-size: 16px;
    text-align: center;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.decksavegreen{
    padding: 0px 4px;
    height: 20px;
    line-height: 20px;
    background: #093;
    color: #fff !important;
    font-size: 16px;
    text-align: center;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.select2-container .select2-choice {
    line-height: 20px !important;
    height:  20px !important;
}
.select2-container .select2-choice div b {
    background: url('http://www.cardgamedb.com/javascript/select2/select2.png') no-repeat 0 -3px;
}

#formQuickSearch{
    padding:2px;
}

#searchUL{
  font-size:13px;
}

.viewImage{
    border-radius: 14px;
}

#searchDiv {
    color: black;
}

.searchDivImage { 
    float:left; 
}
.searchText { 
    margin-left:125px;
}
.searchTextWide {
    margin-left:175px;
}
.searchTextRowLabel {
    width:65px;
    float:left;
    margin-top:5px;
    margin-right:7px;
}
.searchTextContent {
    margin-left:75px;
    margin-top:5px;
}
.textViewRowLabel {
    width:95px;
    float:left;
    margin-top:5px;
    margin-right:7px;
}
.textViewContent {
    margin-left:100px;
    margin-top:5px;
}
.searchLiCard {
    margin-top:3px;
    padding:3px;
}
.searchDivCard {
    background:white;
    color:black;
    border-radius:9px;
    padding: 3px;
}
.searchImgCard {
    padding: 3px;
    background: white;
    border-radius: 5px;
}
.searchH1Name {
    width:100%;
    text-indent:0px;
    font-weight:bold
}
.tooltipGameText {
    cursor:pointer;
}
.twoline {
    line-height:2.75em;
}
#filterSet {
    width:auto !important;
}
#tableSearchResults {
    margin-top:5px;margin-bottom:5px;
}
#tableSearchResults thead>tr>th{ 
    text-align:center;font-weight:bold;border-bottom: gray solid 1px; 
}
#tableSearchResults tbody>tr:nth-child(odd){ 
    background-color:#404149; 
}
#tableSearchResults tbody>tr:nth-child(even){ 
    background-color:#3D3E49; 
}
#tableSearchResults tbody>tr:hover{ 
    background-color:#4B4F69; 
}
#inputReset {
    width:auto;
    border:0 none;
    margin:0;
    padding:0;
    background:transparent;
    overflow:visible;
    text-decoration:underline;
    cursor:pointer;
}
#selectOrderBy,#selectView {
    font-size:100%;
}
#divMoreSearchButton,#divLessSearchButton {
    display:none;
}
#filterUnique,#filterSlot,#filterType,#selectOrderBy {
    width:150px;
}
.setDiv { 
    margin-left:5px !important;
}
#selectView {
    display:none
}
.divSearchButton { 
    text-align:center;
    padding:3px;
}
.divIconImage {
    float:left;
    width:28px
}
.divIconChoices {
    float:left;
    width:130px;
}
.divIcon {
    padding:2px
}
.selectSetName{
    float: left;
    width: 199px;
}
.selectSetRemove{
    float:left;
    cursor:pointer;
}
.loadingwait > div.ui-dialog-titlebar {display:none}
.ui-widget-overlay {
    background:#000 !important;
    opacity:.5
}
.loadingwait{
    border-radius: 13px;
    color:white !important;
    background:black !important;
    opacity:.6;
    border:0px !important;
}
#loadingmessage {
    color:white;
    text-align: center;
    min-height:auto;
    min-height: 0px !important;
}
.removeindeckbuilder {
    display:none
}

.viewSet {
    padding:3px;
}

.textSpoiler>div {
    text-align:left;
}
.textSpoiler {
    background: white;
    border-radius: 8px;
    padding: 5px;
    color: black;
}
button.viewSet {
    border:1px solid black;
    width:25px;
    height:30px;
    margin:4px;
}
.viewImageHUD {
    padding: 5px;
    max-height: 350px;
    max-width: 350px;
}
#savedLocalStorage li {
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
}
#savedLocalStorage li:hover {
    color: green;
    background: rgb(224, 223, 223);
    box-shadow: 1px 1px 2px #777;
}
#progressBarWrapper{
    min-height:500px;
}
.resources {
    font-weight: bolder;
    font-size: large;
}
#divFactions>div {
    width: 80px;
}
#restrictedContainer{
    white-space:pre-wrap;
}
.loyaltyindicator{
    font-size: large;
    color: #4D9BF0;
    width:10px;
    text-shadow: 0 0 3px #000000;
    padding-right: 3px !important;
}
.signatureindicator{
    font-size: large;
    color: gold;
    width:10px;
    text-shadow: 0 0 3px #000000;
    padding-right: 3px !important;
}

.ui-button .ui-button-text {
  padding: 0px 16px 0px 21px !important;
  font-size: 1em !important;
}

div#iconButtons .ui-button-text {
  padding: 2px 4px 2px 7px !important;
}

div#iconButtons .ui-state-active { 
    background: #FFFFFF ;
}


#mainDeckbuilderContainer{
    margin-top:5px;
}


    .wrapperOverride111{
        width: 930px !important;
        min-width: 930px;
    }
    .containerOverride111>div#mainDeckbuilderContainer{
        width:916px !important;
    }
    .containerOverride111>div#mainDeckbuilderContainer>div#viewDiv,.containerOverride111>div>div#divCardViewSpacer{
        width: 360px;
    }
    .containerOverride111>div#mainDeckbuilderContainer>div#deckContainer {
        width: 265px !important;
        max-width: 265px !important; 
    }
    .containerOverride111>div>div#divAdjustSearchCardView,.containerOverride111>div>div#divAdjustDeckCardView{
        width: 265px !important;
        max-width: 265px !important; 
    }
    .containerOverride111>div#mainDeckbuilderContainer>div#deckContainer>div.deckCostSection {
        float: left;
        -moz-column-count: 1 !important;
        -webkit-column-count: 1 !important;
        column-count: 1 !important;
        width: 100% !important; 
    }
    .containerOverride111>div#mainDeckbuilderContainer>div#deckContainer>div#deckSection2 {
        float: none !important;
    }
    .containerOverride111>div#mainDeckbuilderContainer>div#filterDiv{
        width: 265px !important;
    }
    .containerOverride111>div#mainDeckbuilderContainer>div#filterDiv>div>div#searchandresults{
        display:block;
    }
    .containerOverride111>div#mainDeckbuilderContainer>div#filterDiv>div>div#searchDiv{
        height: 580px !important;
    }
    .containerOverride111>div#mainDeckbuilderContainer>div#filterDiv>div>div#resultsDiv{
        height: 580px !important;
    }
    .containerOverride111 input#ahdb-submit-button{
        display:inline-block;
    }
    .containerOverride111 img.viewImage{
        max-width:360px !important;
    }
    

    .wrapperOverride112{
        width:1235px !important;
    }
    .containerOverride112>div#mainDeckbuilderContainer{
        width:1225px !important;
    }
    .containerOverride112>div#mainDeckbuilderContainer>div#viewDiv,.containerOverride112>div>div#divCardViewSpacer{
        width: 360px;
    }
    .containerOverride112>div#mainDeckbuilderContainer>div#deckContainer {
        width: 570px !important;
        max-width: 570px !important;
    }
    .containerOverride112>div#mainDeckbuilderContainer>div#deckContainer>div>ul {
        width: 270px !important;
    }
    .containerOverride112>div>div#divAdjustSearchCardView{
        width: 270px !important;
    }

    .containerOverride112>div>div#divAdjustDeckCardView{
        width: 600px !important;
        max-width: 600px !important; 
    }
    .containerOverride112>div#mainDeckbuilderContainer>div#deckContainer>div.deckCostSection {
        float: left;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        width: 100%; 
    }
    .containerOverride112>div#mainDeckbuilderContainer>div#deckContainer>div#deckSection2 {
        float: right !important;
    }
    .containerOverride112>div#mainDeckbuilderContainer>div#filterDiv{
        width: 265px !important;
    }
    .containerOverride112>div#mainDeckbuilderContainer>div#filterDiv>div>div#searchandresults{
        display:block;
    }
    .containerOverride112>div#mainDeckbuilderContainer>div#filterDiv>div>div#searchDiv{
        height: 580px !important;
    }
    .containerOverride112>div#mainDeckbuilderContainer>div#filterDiv>div>div#resultsDiv{
        height: 580px !important;
    }
    .containerOverride112 input#ahdb-submit-button{
        display:inline-block;
    }
    .containerOverride112>div#mainDeckbuilderContainer>div#deckContainer{
        height:594px !important;
    }
    .containerOverride112 img.viewImage{
        max-width:360px !important;
    }


    .wrapperOverride211{
        width:1235px !important;
    }
    .containerOverride211>div#mainDeckbuilderContainer{
        width:1225px !important;
    }
    .containerOverride211>div#mainDeckbuilderContainer>div#viewDiv{
        width: 360px !important;
    }
    .containerOverride211>div#mainDeckbuilderContainer>div#deckContainer {
        width: 265px !important;
        max-width: 265px !important;  
    }
    .containerOverride211>div#mainDeckbuilderContainer>div#deckContainer>div>ul {
        /*width: 270px !important;*/
    }
    .containerOverride211>div>div#divAdjustSearchCardView,.containerOverride211>div>div#divAdjustDeckCardView{
        width: 600px !important;
        max-width: 600px !important; 
    }
    .containerOverride211>div>div#divCardViewSpacer{
        width: 380px !important;
    }
    .containerOverride211>div#mainDeckbuilderContainer>div#filterDiv{
        width: 570px !important;
    }
    .containerOverride211>div#mainDeckbuilderContainer>div#filterDiv>div>div#searchandresults{
        display:none;
    }
    .containerOverride211>div#mainDeckbuilderContainer>div#filterDiv>div>div#searchDiv{
        margin-left: 0 !important;
        height: 600px !important;
    }
    .containerOverride211 input#ahdb-submit-button{
        display:none !important;
    }
    .containerOverride211>div#mainDeckbuilderContainer>div#filterDiv>div>div#resultsDiv{
        height: 600px !important;
        width: 305px !important;
    }
    .containerOverride211>div#mainDeckbuilderContainer>div#filterDiv>div#searchandresultsDiv{
        width: 600px !important;
    }
    .containerOverride211>div#mainDeckbuilderContainer>div#deckContainer>div#deckSection2{
        float: none !important;
    }
    .containerOverride211>div#mainDeckbuilderContainer>div#deckContainer>div#deckSectionCost{
        float: left;
        -moz-column-count: 1 !important;
        -webkit-column-count: 1 !important;
        column-count: 1 !important;
        width: 100% !important;   
    }
    .containerOverride211>div#mainDeckbuilderContainer>div#deckContainer{
        height:594px !important;
    }
    .containerOverride211 img.viewImage{
        max-width:360px !important;
    }


    .wrapperOverride212{
        width:1560px !important;
    }
    .containerOverride212>div#mainDeckbuilderContainer{
        width:1545px !important;
    }
    .containerOverride212>div#mainDeckbuilderContainer>div#viewDiv{
        width: 380px !important;
    }
    .containerOverride212>div#mainDeckbuilderContainer>div#deckContainer {
        width: 570px !important;
        max-width: 570px !important; 
    }
    .containerOverride212>div#mainDeckbuilderContainer>div#deckContainer>div>ul {
        width: 270px !important;
    }
    .containerOverride212>div>div#divAdjustSearchCardView,.containerOverride212>div>div#divAdjustDeckCardView{
        width: 570px !important;
        max-width: 570px !important; 
    }
    .containerOverride212>div>div#divCardViewSpacer{
        width: 380px !important;
    }
    .containerOverride212>div#mainDeckbuilderContainer>div#filterDiv{
        width: 575px !important;
    }
    .containerOverride212>div#mainDeckbuilderContainer>div#filterDiv>div>div#searchandresults{
        display:none;
    }
    .containerOverride212>div#mainDeckbuilderContainer>div#filterDiv>div>div#searchDiv{
        margin-left: 0 !important;
        height: 600px !important;
    }
    .containerOverride212 #ahdb-submit-button{
        display:none !important;
    }
    .containerOverride212>div#mainDeckbuilderContainer>div#filterDiv>div>div#resultsDiv{
        height: 600px !important;
        width: 310px !important;
    }
    .containerOverride212>div#mainDeckbuilderContainer>div#filterDiv>div#searchandresultsDiv{
        width: 600px !important;
    }
    .containerOverride212>div#mainDeckbuilderContainer>div#deckContainer>div#deckSection2{
        float: right !important;
    }
    .containerOverride212>div#mainDeckbuilderContainer>div#deckContainer>div#deckSectionCost{
        float: left;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        width: 100%;    
    }
    .containerOverride212>div#mainDeckbuilderContainer>div#deckContainer{
        height:594px !important;
    }

    
    .wrapperOverride202{
        width:1235px !important;
    }
    .containerOverride202>div#mainDeckbuilderContainer{
        width:1225px !important;
    }
    .containerOverride202>div#mainDeckbuilderContainer>div#viewDiv{
        display:none;
    }
    .containerOverride202>div#mainDeckbuilderContainer>div#deckContainer {
        width: 600px !important;
        max-width: 600px !important; 
    }
    .containerOverride202>div#mainDeckbuilderContainer>div#deckContainer>div>ul {
        width: 285px !important;
    }
    .containerOverride202>div>div#divAdjustSearchCardView,.containerOverride202>div>div#divAdjustDeckCardView{
        width: 600px !important;
        max-width: 600px !important; 
    }
    .containerOverride202>div>div#divCardViewSpacer{
        display:none;
    }
    .containerOverride202>div#mainDeckbuilderContainer>div#filterDiv{
        width: 600px !important;
    }
    .containerOverride202>div#mainDeckbuilderContainer>div#filterDiv>div>div#searchandresults{
        display:none;
    }
    .containerOverride202>div#mainDeckbuilderContainer>div#filterDiv>div>div#searchDiv{
        margin-left: 0 !important;
        height: 600px !important;
    }
    .containerOverride202 #ahdb-submit-button{
        display:none !important;
    }
    .containerOverride202>div#mainDeckbuilderContainer>div#filterDiv>div>div#resultsDiv{
        height: 600px !important;
        width: 335px !important;
    }
    .containerOverride202>div#mainDeckbuilderContainer>div#filterDiv>div#searchandresultsDiv{
        width: 600px !important;
    }
    .containerOverride202>div#mainDeckbuilderContainer>div#deckContainer>div#deckSection2{
        float: right !important;
    }
    .containerOverride202>div#mainDeckbuilderContainer>div#deckContainer>div#deckSectionCost{
        float: left;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        width: 100%;    
    }
    .containerOverride202>div#mainDeckbuilderContainer>div#deckContainer{
        margin-left:10px;
        height:594px !important;
    }
    
    
    .bodywidth630{
        width:630px !important;
    }
    .wrapperOverride2T2{
        width:615px !important;
        min-width: 615px;
        max-width: 615px;
    }
    .containerOverride2T2>div#mainDeckbuilderContainer{
        width:605px !important;
    }
    .containerOverride2T2>div#mainDeckbuilderContainer>div#viewDiv{
        display:none;
    }
    .containerOverride2T2>div#mainDeckbuilderContainer>div#deckContainer {
        width: 594px !important;
        max-width: 594px !important; 
    }
    .containerOverride2T2>div#mainDeckbuilderContainer>div#deckContainer>div>ul {
        width: 285px !important;
    }
    .containerOverride2T2>div>div#divAdjustSearchCardView,.containerOverride2T2>div>div#divAdjustDeckCardView{
        width: 600px !important;
        max-width: 600px !important; 
    }
    .containerOverride2T2>div>div#divCardViewSpacer{
        display:none;
    }
    .containerOverride2T2>div#mainDeckbuilderContainer>div#filterDiv{
        width: 600px !important;
    }
    .containerOverride2T2>div#mainDeckbuilderContainer>div#filterDiv>div>div#searchandresults{
        display:none;
    }
    .containerOverride2T2>div#mainDeckbuilderContainer>div#filterDiv>div>div#searchDiv{
        margin-left: 0 !important;
        height: 600px !important;
    }
    .containerOverride2T2 input#ahdb-submit-button{
        /**/display:none !important;
    }
    .containerOverride2T2>div#mainDeckbuilderContainer>div#filterDiv>div>div#resultsDiv{
        height: 600px !important;
        width: 335px !important;
    }
    .containerOverride2T2>div#mainDeckbuilderContainer>div#filterDiv>div#searchandresultsDiv{
        width: 600px !important;
    }
    .containerOverride2T2>div#mainDeckbuilderContainer>div#deckContainer>div#deckSection2{
        float: right !important;
    }
    .containerOverride2T2>div#mainDeckbuilderContainer>div#deckContainer>div#deckSectionCost{
        float: left;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        width: 100%;    
    }
    .containerOverride2T2>div#mainDeckbuilderContainer>div#deckContainer{
        margin-top:10px;
        height:594px !important;
    }


    
    .filterOverrideWide{
        width: 530px !important;
    }
    .filterOverrideWide>div>div#searchandresults{
        display:none;
    }
    .filterOverrideWide>div>div#searchDiv{
        margin-left: 0 !important;
        height: 600px !important;
    }
    .filterOverrideWide input#ahdb-submit-button{
        display:none !important;
    }
    .filterOverrideWide>div>div#resultsDiv{
        height: 600px !important;
    }
    
    
    

    .filterOverrideNarrow{
        width: 265px !important;
    }
    .filterOverrideNarrow>div>div#searchandresults{
        display: block;
    }
    .filterOverrideNarrow>div>div#searchDiv{
        width: 265px;
        float: left;
        overflow-y: auto;
        overflow-x: hidden;
        height: 580px;
    }
    .filterOverrideNarrow input#ahdb-submit-button{
        display: inline !important;
    }
    .filterOverrideNarrow>div>div#resultsDiv{
        width: 265px;
        float: left;
        height: 580px;
        overflow-y: auto;
    }
    div.searchAndResultsDivPosition{
        margin-left: -265px;
    }
    .cardViewWide{
        width: 430px;
    }
    .cardViewNarrow{
        width: 360px;
    }
    div.flat button.button-link {
        border: 0px;  border-radius: 0px;  box-shadow: none;
    }
    div.flat div.boxList {
        border-radius: 0px;  box-shadow: none; border: solid 0px #ccc;
    }
    .onoffswitch {
        position: relative; width: 76px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 20px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #34A7C1; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #EEEEEE; color: #999999;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 16px; margin: 3.5px;
        background: #FFFFFF;
        border: 2px solid #999999; border-radius: 20px;
        position: absolute; top: 0; bottom: 0; right: 49px;
        -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
        -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }
    .themeBackgroundForthegreatergood{
        background: #252525 url("http://www.cardgamedb.com/deckbuilders/arkhamhorror/call_of_cthulhu__for_the_greater_good_by_anthonyfoti-d8d4qo9.jpg") no-repeat center center fixed;
        background-size: cover;
    }
    .themeBackgroundthewall input.input_submit {
      background: #DDDDDD;
      color: black;
    }
    .themeBackgroundHyperawareness{
        background: #252525 url("http://www.cardgamedb.com/deckbuilders/arkhamhorror/AHC01_15660_Hyperawareness_AuroreFolny.jpg") no-repeat center center fixed;
        background-size: cover;
    }
    .themeBackgroundGhoulpriest{
        background: #252525 url("http://www.cardgamedb.com/deckbuilders/arkhamhorror/AHC01_15652_GhoulPriest_ChunLo-copy.jpg") no-repeat top center fixed;
        background-size: cover;
    }
    .themeBackgroundknights{
        background: #252525 url("http://www.cardgamedb.com/deckbuilders/gameofthrones2ndedition/knightsbackground.jpg") no-repeat top center fixed;
        background-size: cover;
    }
    .themeBackgroundwinterfell{
        background: #252525 url("http://www.cardgamedb.com/deckbuilders/gameofthrones2ndedition/winterfellbackground.jpg") no-repeat center center fixed;
        background-size: cover;
    }
    .theme3{

        padding-top:25px;
    }
    .theme3 div.content {
        background:transparent;
    }
    .theme3 div#divDeckNameDisplay{
        color:whitesmoke;
        text-shadow: 0 0 6px #1F1B1B;
    }
    .theme3 div#tabs-buttons {
        background: rgba(27, 25, 25, 0.5);
        color: whitesmoke;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border: transparent;
    }
    .theme3 div#tabs-buttons>div {
    color: white;
    }

    .theme3 div#deckSaveDIV {
        clear: both;
        padding-top: 15px;
        color: whitesmoke;
        background: rgba(27, 25, 25, 0.5);
        padding: 10px;
        font-size: 14px;
    }

    .theme3 div#viewDiv>div>img {
        border-radius:14px;
    }

    .theme3 div#viewDiv>div.divImageText {
        background:white;
        padding:10px;
        border-radius:5px;
        margin: 5px;
        box-shadow: 3px 10px 15px #2C2B2B;
        text-align: left;
    }
    .theme3 div#branding{
        height: 52px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .themeButton {
        width:270px;
    }
    .themeButton>img{
        max-height:200px;
    }
    .ipboard_bodyflat{
        background: none;
        padding-top:25px;
    }

    .ipboard_bodyflat div#branding{
        height: 52px;
        background: black;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .settings_spacer{
        border-bottom: 1px solid grey;
    }

    #deckSectionCost>ul {
      break-inside: avoid-column;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      -o-column-break-inside: avoid;
      column-break-inside: avoid;
    }

    .hoverImageDivwide{
        width: 365px
    }
    .hoverImage{
        min-width:300px;max-height:425px;max-width:365px;
    }
    .hoverText{
        background:white;
        width:290px;
        box-shadow: 0px 0px 10px black; 
        border-radius:6px;
        margin-top:10px;
        padding:5px;
    }
    .hoverTexthigh{
        width:290px;
    }
    .hoverTextwide{
        width:355px;
    }

    .pipCountOverlay {
      padding: 0px 4px;
      height: 18px;
      line-height: 18px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.1) inset;
      -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.1) inset;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      /*position: absolute;*/
    }
    .factioncounts {
        height: 60px;
        width: 60px;

    }
    .baratheonC span {
        background: #F6EC22;
        color: black;
    }
    .baratheonC {
      background: url('/deckbuilders/gameofthrones2ndedition/baratheon-icon.png') no-repeat scroll center top transparent;
      background-size: 65px;
    }
    .greyjoyC span {
        background: #1E5273;
        color: white;
    }
    .greyjoyC {
      background: url('/deckbuilders/gameofthrones2ndedition/greyjoy-icon.png') no-repeat scroll center top transparent;
      background-size: 65px;
    }
    .lannisterC span {
        background: #9E1821;
        color: white;
    }
    .lannisterC {
      background: url('/deckbuilders/gameofthrones2ndedition/lannister-icon.png') no-repeat scroll center top transparent;
      background-size: 65px;
    }
    .martellC span {
      background: #E38734;
      color: white;
    }
    .martellC {
      background: url('/deckbuilders/gameofthrones2ndedition/martell-icon.png') no-repeat scroll center top transparent;
      background-size: 65px;
    }
    .starkC span {
      background: #FDFBFC;
      color: black;
    }
    .starkC {
      background: url('/deckbuilders/gameofthrones2ndedition/stark-icon.png') no-repeat scroll center top transparent;
      background-size: 65px;
    }
    .targaryenC span {
        background: #291E1C;
        color: white;
    }
    .targaryenC {
      background: url('/deckbuilders/gameofthrones2ndedition/targaryen-icon.png') no-repeat scroll center top transparent;
      background-size: 65px;
    }
    .tyrellC span {
        background: #1D6D3A;
        color: white;
    }
    .tyrellC {
      background: url('/deckbuilders/gameofthrones2ndedition/tyrell-icon.png') no-repeat scroll center top transparent;
      background-size: 65px;
    }
    .thenightswatchC span {
      background: #969291;
      color: white;
    }
    .thenightswatchC {
      background: url('/deckbuilders/gameofthrones2ndedition/thenightswatch-icon.png') no-repeat scroll center top transparent;
      background-size: 65px;
    }
    .neutralC span {
      background: #885E42;
      color: white;
    }
    .neutralC {
      /*background: url('/deckbuilders/gameofthrones2ndedition/thenightswatch-icon.png') no-repeat scroll center top transparent;*/
      background-size: 65px;
    }
    .clevel {
        width:25px;
    }
    .clevel>div {
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        padding: 4px 0;
        border-radius: 6px;
    }

    .Guardian>div {
        background: #236da8;
        color:white;
    }
    .Mystic>div{
        background:#4e4483;
        color:white;
    }
    .Rogue>div{
        background:#165f3a;
        color:white;
    }
    .Seeker>div{
        background:#bc882d;
        color:white;
    }
    .Survivor>div{
        background:#93222c;
        color:white;
    }
    .Neutral>div{
        background:#383834;
        color:white;
    }

    #deckWeakness {
        padding: 5px 0;
    }
    span.investigatorName {
        font-size: large;
    }
    td.investigatorInfo {
        vertical-align: top;
    }