<!--
Name: Arkham Horror Deck Share
FURL: arkham-horror-deck-share
Folder: /arkhamhorror
Location: Page in IPContent
Page Type: html
-->
<style type="text/css">
		.searchDivImage{ float:left; }
		.searchText { margin-left:325px !important}
		.searchTextPlot {margin-left:420px !important}
		.searchTextRowLabel {width:100px;float:left;font-weight:bold;margin-top:5px;text-align:right;margin-right:7px;}
		.searchTextContent {margin-left:105px;margin-top:5px}
		.searchLiCard {margin-top:3px;padding:3px;padding:3px}
		.searchDivCard {background:white;color:black;border-radius:9px;padding: 3px;}
		.searchImgCard {padding: 3px;background: white;border-radius: 5px;}
		.searchH1Name {width:100%;text-indent:0px;font-weight:bold}
		.deckcount {font-size:50px;text-align:center;}
		.spoilerHeader {font-size:50px;}
		.ui-button {padding:5px !important;}
		.ui-menu { position: absolute; width: 100px;z-index:11; }
		.ui-menu li>span{ cursor:pointer; }
		#controls {float:right;padding: 4px;
   			 display: inline-block;}
   		#divExportContainer {border:2px solid black;background:whitesmoke;display:none;position:absolute;z-index:10;box-shadow: black 6px 6px 12px;border-radius:5px;}
   		.deckcard{ font-size:14px;padding:1px; }
		.deckcard a { font-weight:bold; }
		.twoline {line-height:3.5em;}
		.cardComments,.searchDivImage>div.rating {display:none;}
		#restrictedContainer{
			white-space:pre-wrap;
		}
		.spoilerIcon{
			max-width:25px;
		}

		#displayedCard { 
			padding: 6px;
			background: white;
			border-radius: 9px;
		}
		.stickem-container {
			position: relative;
		}

		.stickit {
			margin-left: 400px;
			position: fixed;
			top: 90px;
		}

		.stickit-end {
			bottom: 0;
			position: absolute;
			left: 400px;
		}
		#canvasLoader {
			text-align:center;
		}
		#restrictedContainer{
			white-space:pre-wrap;
		}
		#deckviewclasses {
    padding: 3px;
}
#deckviewclasses >div {
    width: 20px!important;
    height: 20px;
    font-size: 14px;
    vertical-align: middle;
    line-height: 20px;
    display: table-cell;
}
#deckviewclasses >div.Guardian{
    background: #236da8;
    border-radius: 9px;
    text-align: center;
    font-weight: bold;
    color: white;
}
#deckviewclasses >div.Mystic{
    background: #4e4483;
    border-radius: 9px;
    text-align: center;
    font-weight: bold;
    color: white;
}
#deckviewclasses >div.Rogue{
    background: #165f3a;
    border-radius: 9px;
    text-align: center;
    font-weight: bold;
    color: white;
}
#deckviewclasses >div.Seeker{
    background: #bc882d;
    border-radius: 9px;
    text-align: center;
    font-weight: bold;
    color: white;
}
#deckviewclasses >div.Survivor{
    background: #93222c;
    border-radius: 9px;
    text-align: center;
    font-weight: bold;
    color: white;
}
#deckviewclasses >div.Neutral{
    background: #383834;
    border-radius: 9px;
    text-align: center;
    font-weight: bold;
    color: white;
}
		</style>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/heartcode-canvasloader-min-0.9.1.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/jquery-1.9.1.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/jquery-ui1.10.2.js'> </script>
<link rel="stylesheet" href='{parse block="deckbuilder_css_path"}/css/jquery-ui1.10.2.css'>
<script>
var jQuery_1_9_1 = $.noConflict(true);
jQuery_1_9_1 (document).ready(function($) {
	$( "#buttonSetViewDeck" ).buttonset();
	$( "#exportDeck" ).button({
          text: true,
          icons: {
            primary: "ui-icon-triangle-1-s"
          }
        }).click(function() {
          var menu = $(this).next().toggle().position({
            my: "left top",
            at: "left bottom",
            of: this
          });
          $( document ).one( "click", function() {
            menu.hide();
          });
          return false;
        }).next().hide().menu();
	$("#exportBBCode").click(function(){
		$("#divExportContainer").show().position({
		    my: "right top",
	            at: "right bottom",
	            of: $('#controls')[0]
	          });
	});
	$("#exportClose").button({
          text: false,
          icons: {
            primary: "ui-icon-closethick"
          }
        }).click(function(){
        	$('#divExportContainer').hide();
        });
        });
</script>
<div id="dName" style="font-size:24px; margin-bottom:5px;font-weight:bold">&nbsp;</div>
<div style="font-size:14px;font-weight:bold; margin-bottom:5px;">by: <span id="dMember">&nbsp;</span></div>
<div class="ipsBox">
	<div class="ipsBox_container ipsPad ipsType_textblock">
		<div class="left" style="padding:10px;min-height: 500px;" id="divDeckLoading">
			<div id="canvasloader-container" class="wrapper">
				<div id="canvasLoader" style="display: block; position: absolute; top: -100px; left: -100px;text-align:center;">
					<canvas width="200" height="200"></canvas><canvas width="200" height="200" style="display: none;"></canvas>
				</div>
			</div>
			<script type="text/javascript">
				var cl = new CanvasLoader('canvasloader-container');
				cl.setColor('#e2e2eb'); // default is '#000000'
				cl.setShape('spiral'); // default is 'oval'
				cl.setDiameter(200); // default is 40
				cl.setDensity(15); // default is 40
				cl.setSpeed(1); // default is 2
				cl.setFPS(17); // default is 24
				cl.show(); // Hidden by default

				// This bit is only for positioning - not necessary
				var loaderObj = document.getElementById("canvasLoader");
				loaderObj.style.position = "absolute";
				loaderObj.style["top"] = cl.getDiameter() * -0.5 + "px";
				loaderObj.style["left"] = cl.getDiameter() * -0.5 + "px";
			</script>
		</div>
		<div class="left" style="padding:10px;min-height: 500px;display:none;" id="shareDeckContainer">
			<div style="padding-bottom:8px">		
				<div id="controls" class="ui-widget-header ui-corner-all">
					<button id="exportDeck">Export Deck</button>
					<ul id="exportMenuA" class="ui-menu">
						<li><span id="exportText">Text File</span></li>
						<li><span id="exportBBCode">BBCode</span></li>
					</ul>
					<span id="buttonSetViewDeck">
						<input type="radio" id="viewDeckList" name="viewDeck" checked="checked" /><label for="viewDeckList">List</label>
						<input type="radio" id="viewDeckSpoiler" name="viewDeck"/><label for="viewDeckSpoiler">Spoiler</label>
					</span>
				</div>
				<div id="divExportContainer">
					<div style="padding:10px;">Copy the Decklist Below:</div>
					<div id="exportClose" style="float:right;position:absolute;top:5px;right:5px;">Close</div>
					<textarea id="exportTextArea" style="margin:5px;width:860px;height:400px"></textarea>
				</div>
				<form action="{parse block="deckbuilder_script_path"}/offlinesave.php" method="post" id="decksave">
					<input type="hidden" name="offlineName" id="offlineName" value="">
					<input type="hidden" name="fileType" id="fileType" value="">
					<input type="hidden" name="dcont" id="dcont" value="">
				</form>
				<div id="dTags" style="white-space:pre;"></div>
				<div id="dTeaser" style="white-space:pre-wrap;"></div>
				
			</div>
			<div id="deckSpoiler" style="display:none"></div>
			<div id="deckContents" class="deck stickem-container " style="min-height: 600px;">
				<div class="left" style="width:400px">
					<div>
						<div style=""><ul id="dInvestigator"></ul></div>
						<div>
			   				<div id="deckviewclasses">
			   					<div class="Guardian">0</div>
			   					<div class="Mystic">0</div>
			   					<div class="Rogue">0</div>
			   					<div class="Seeker">0</div>
			   					<div class="Survivor">0</div>
			   					<div class="Neutral">0</div>
			   				</div>
						</div>	
						<div id="deckviewtraits"></div>
						<div style="margin-top:10px;"><ul id="dWeakness"></ul></div>
					</div>
					<div>
						<div style="padding-bottom:5px">Order by:<br />
							<span id='sortName' class='ipsButton_secondary' >Name</span> 
							<span id='sortType' class='ipsButton_secondary'>Type</span> 
							<span id='sortCost' class='ipsButton_secondary'>Cost</span>
						</div>
						<div style="padding-bottom:5px;font-size:14px;font-weight:bold;">
							Total Cards: <span id="totalCards">0</span>
						</div>
						<div id="divContent">
						<ul id="dContent"></ul><ul id="dContent2" style="display: none"></ul>
						</div>
	
					</div>
					<div style="clear:both;"></div>
				</div>
				<div class="stickem left" id="cardContainer">
					<div id="cardDisplay" style="height:500px;width:260px;background-image: url('{parse block="deckbuilder_image_path"}/images/card-loading-wide.gif'); background-repeat:no-repeat;background-position:center top;">
						<img id="displayedCard" src="{parse block="deckbuilder_image_path"}/images/hover-card.jpg" style="max-width: 450px; " width="204">
					</div>
					<div id="cardDisplayText" style="padding:10px;width:300px;white-space:pre-wrap;"></div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div id="stratDiv">
				<div id="dStrat" style="padding:10px;white-space:pre-wrap;font-size:14px;"></div>
			</div>
			<div>
				<div>	
    					<div style="width:350px;float:left;">
    					Sample Hand: <img src="{parse block="deckbuilder_image_path"}/images/arrow_rotate_clockwise.png"  id="reloadSample" alt="Redraw starting hand." />
    					<img src="{parse block="deckbuilder_image_path"}/images/add.png" id="drawone" alt="Draw 1 Card" />
    					<div id="sampleHand"></div> 
    				</div>
    				<div id="otherInfo" style="margin-left:351px;">
						<div>
							<strong>Skill Test Icons: </strong> <span id="plotIncomeList"></span><br />
							<ul class="ipsList_inline left" style="padding-top:5px;padding-bottom:20px;">
								<li>Willpower: <span class="pipCountOverlay" id="willpowerCount">0</span></li>
								<li>Intellect: <span class="pipCountOverlay" id="intellectCount">0</span></li>
								<li>Combat: <span class="pipCountOverlay" id="combatCount">0</span></li>
								<li>Agility: <span class="pipCountOverlay" id="agilityCount">0</span></li>
								<li>Wild: <span class="pipCountOverlay" id="wildCount">0</span></li>
							</ul>
							<div class="clear"></div>
						</div>
						<div>
							<strong>Total Levels In Deck:</strong> <span id="totalLevels">0</span>
						</div>
					</div>
    				<div style="clear:both;"></div>
    			</div>					
			</div>
			<div>
				<div>
		<div id="chart4" style="height: 400px;float:left;margin:4px;"></div>
		<div id="chart5" style="width:300px; height: 400px;float:left;margin:4px;"></div>
		<div id="chart6" style="width:300px; height: 400px;float:left;margin:4px;"></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<link rel="stylesheet" href='{parse block="deckbuilder_css_path"}/arkhamhorror/css/ahdeckbuilder.2.1.0.css'>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/jquery.quicksand.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/jquery.stickem.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/jquery.easing.1.3.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/phpjs.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/arkhamhorror/database/{parse block="arkham_horror_json_filename"}'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/taffy-min.js'></script>
<script type="text/javascript">
var deckbuilderGlobals = new deckbuilderGlobalsSetup;

function deckbuilderGlobalsSetup(){
	this.script_path = '{parse block="deckbuilder_script_path"}';
	this.image_path = '{parse block="deckbuilder_image_path"}';
	this.card_images_path = 'http://lcg-cdn.fantasyflightgames.com/ah/';
	this.css_path = '{parse block="deckbuilder_css_path"}';
	this.viewType = 'share';
	this.rawdeck = '';
	this.deckfaction = '';
	this.dformat = '';
}	
</script>
<!-- Includes for Google Charts. Unfortunately their terms of service do not allow us to host this.-->
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
</script>

<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/arkhamhorror/javascript/ahdecksection.js?f=9'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/arkhamhorror/javascript/ahtemplates.0.0.0.js?d=5'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/arkhamhorror/javascript/ahdeckviewbuilder.js?f=2'></script>