<!--
Name: All Games Sets dropdown
Location: Feed Block in IPContent
Instructions on use: Athough it is the same code for every game, each game needs their own feed block pulling from the correct database categories, these should be named game_sets_dropdown (ex. star_wars_sets_dropdown or game_of_thrones_sets_dropdown). Each feed needs to be setup as an IPContent feed pulling from the categories. Caching should be fine on this block. Paste the below code in for a custom template.
-->
<select style="width:223px;" id="filterSet" name="filterSet">
	<option value="0">Choose a Set to Filter</option>
	<if test="is_array( $records ) && count( $records )">
	<foreach loop="$records as $r">
		<php>
			$idVar = '';
			$hasSubcats = false;
			if (is_array($r['category']['subcats']) && count($r['category']['subcats']) && $r['level']==0){
				$hasSubcats = true;
				foreach ($r['category']['subcats'] as $subc){
					$idVar .= $subc[0].',';
				}
			} else {
				$idVar = $r['category']['category_id'];
			}
		</php>
		<option id="set-{$r['category']['category_id']}" data-hasSubcats="{$hasSubcats}" data-relatedSets="{$idVar}" value="{$idVar}"><if test="$r['level']==1">&nbsp;|--</if>{$r['category']['category_name']}</option>
	</foreach>
	</if>
	</select>
<ul id="filteredSets" style="padding:3px;margin-top:5px;width:215px;border: 1px solid #ccc;">
	<foreach loop="$records as $r2">
		<php>
			$idVar = '';
			if (is_array($r2['category']['subcats']) && count($r2['category']['subcats']) && $r2['level']==0){
				foreach ($r2['category']['subcats'] as $subc){
					$idVar .= $subc[0].',';
				}
			} else {
				$idVar = $r2['category']['category_id'];
			}
		</php>
		<li style="display:none;min-height:20px" id="dispset-{$r2['category']['category_id']}" >
			<div class="selectSetName">
				<if test="$r2['level']==1">
					&nbsp;|--
				</if>
				{$r2['category']['category_name']}
			</div>
			<div class="selectSetRemove">
				<img class="removeSelectedSet" data-thisset="{$r2['category']['category_id']}" src='{$this->settings['img_url']}/delete.png' style="float:right" />
			</div>
		</li>
	</foreach>		
	</ul>
<br />