<!--
Name: Arkham Horror Deck Listing
Location: Database Template in IPContent
Instructions on use: In the database template section add this template as a 'Listing' template. After adding this must change the Arkham Horror Submitted Decks database to use this template
-->
{ccs special_tag="navigation"}
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/phpjs.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/jquery-1.9.1.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/jquery-ui1.10.2.js'> </script>
<link rel="stylesheet" href='{parse block="deckbuilder_css_path"}/css/jquery-ui1.10.2.css'>
<style type="text/css">
.deckSection {
  float: left;
  padding: 3px;
  width: 30%;
}
button.buttonDeckPreviewToggle {
  width: 2.4em;
  height: 16px;
}
.deckInvestigator>img{
	max-width:120px;
}

.micDeckInfo{
	text-align:right;
}

/* Disable jQuery UI focus glow */

*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
</style>
<script>
var jQuery_1_9_1 = $.noConflict(true);
jQuery_1_9_1(document).ready(function($) {
	$('.buttonDeckPreviewToggle').button({
	      icons: {
        	primary: "ui-icon-zoomin"
		},
	      text: false
	}).on('click', function(){
		$(this).closest('td.deckTextInfo').children('div.divDeckPreview').toggle();
	});
	$(".investigatorImage").click(function(){
		var imagefront = $(this).data("imagefront"),
		imageback = $(this).data("imageback");
		$('<div />').html('<img src="'+imagefront +'" /><br /><img src="'+imageback+'" />').dialog({
		         minHeight: 600,
		         width: 450,
			 modal: true,
			draggable: false,
			resizable: false});
	});
});
</script>
<if test="$data['database']['keyword']">
	<p class='message'>
		{$this->lang->words['your_search']} <em><strong>{$data['database']['keyword']}</strong></em> {$this->lang->words['your_search_returned']} <strong>{$data['database']['result_cnt']}</strong> {$this->lang->words['your_search_results']}
	</p>
	</if>

<if test="$this->memberData['member_id']">
	{$data['follow_data']}
	</if>

<h1 class='ipsType_pagetitle'><if test="$data['parent']['category_id']">{$data['parent']['category_name']}<else />{$data['database']['database_name']}</if></h1>

<br />

<if test="is_array($data['categories']) AND count($data['categories'])">
	<div class='category_block block_wrap'>
		<div class="maintitle">{$this->lang->words['cldt_categories']}</div>
		<table class='ipb_table'>
			<foreach loop="$data['categories'] as $category">
				<tr class='<if test="$category['_has_unread']">unread</if>'>
					<td class='col_c_icon'>
						<if test="$category['_has_unread']">
							<a href="{parse url="app=ccs&amp;module=databases&amp;section=markasread&amp;database={$data['database']['database_id']}&amp;category={$category['category_id']}&amp;returnto={$data['parent']['category_id']}" base="public"}" data-tooltip="{$this->lang->words['ccscat_markread']}" class='forum_marker'><img src='{$this->settings['img_url']}/{$category['image']}.png' /></a>
						<else />
							<img src='{$this->settings['img_url']}/{$category['image']}.png' />
						</if>
					</td>
					<td class='col_c_forum'>
						<if test="$category['category_rss'] > 0">
							<div class='right'>
								<a href="{parse url="app=core&amp;module=global&amp;section=rss&amp;type=ccs&amp;id={$category['category_database_id']}c{$category['category_id']}" base="public" template="section=rss2" seotitle="{$category['category_furl_name']}"}"><img src='{$this->settings['img_url']}/feed.png' alt='{$this->lang->words['rss_feed']}' /></a>
							</div>
						</if>
						<h4><a href='{$category['category_link']}'>{$category['category_name']}</a></h4>
						<if test="count($category['children'])">
							<br />
							<ol class='ipsList_inline ipsType_small subforums'>
								<foreach loop="$category['children'] as $_data">
									<if test="showSubForumsLit:|:$_data['_has_unread']"><li class='unread'><else /><li></if>
										<a href='{$_data['category_link']}'>{$_data['category_name']}</a>
									</li>
								</foreach>
							</ol>
						</if>
						<if test="$category['category_description']"><p class='desc __forum_desc ipsType_small'>{$category['category_description']}</p></if>																		  
						<if test="($data['database']['moderate_approve'] AND $category['category_records_queued']) OR ($data['database']['moderate_approvec'] AND $category['category_record_comments_queued'])">
							<em class='moderated'>
								<if test="$data['database']['moderate_approve'] AND $category['category_records_queued']">
									<a href='{$category['category_link']}?view=archive&amp;sort=queued' title='{$this->lang->words['cat_viewmoderated']}'>{parse expression="sprintf( $this->lang->words['category_unapprovedlink'], $category['category_records_queued'] )"}</a>
								</if>
								<if test="($data['database']['moderate_approve'] AND $category['category_records_queued']) AND ($data['database']['moderate_approvec'] AND $category['category_record_comments_queued'])">
									&nbsp;&nbsp;
								</if>
								<if test="$data['database']['moderate_approvec'] AND $category['category_record_comments_queued']">
									<a href='{$category['category_link']}?view=archive&amp;sort=queuedc' title='{$this->lang->words['cat_viewmoderatedc']}'>{parse expression="sprintf( $this->lang->words['category_unapprovedclink'], $category['category_record_comments_queued'] )"}</a>
								</if>
							</em>
						</if>
					</td>
					<td class='col_c_stats ipsType_small'>
						<strong>{$category['category_records']}</strong> {$data['database']['database_lang_pu']}
					</td>
					<td class='col_c_post'>
						<ul class='last_post ipsType_small'>
							<if test="$category['category_last_record_id']">
								<li>
									<a href='{$category['record_link']}'>{$category[ $data['database']['database_field_title'] . '_value' ]}</a>
								</li>
								<li>
									{$this->lang->words['latestrecord_by']} {parse expression="IPSMember::makeProfileLink( $category['category_last_record_name'], $category['category_last_record_member'], $category['category_last_record_seo_name'] )"}
								</li>
								<li class='desc lighter blend_links'>
									{parse date="$category['category_last_record_date']" format="DATE"}
								</li>
							<else />
								<li class='desc lighter'><em>{$this->lang->words['no_latest_record']}</em></li>
							</if>
						</ul>
					</td>
				</tr>
			</foreach>
		</table>
	</div>
	<br /><br />
	</if>

<if test="$data['show']">
	<div class='topic_controls'>
		{$data['pages']}
		<ul class='topic_buttons'>
			<if test="$data['parent']['_has_unread']">
				<li class='non_button'>
					<a href='{parse url="app=ccs&amp;module=databases&amp;section=markasread&amp;database={$data['database']['database_id']}&amp;category={$data['parent']['category_id']}&amp;returnto={$data['parent']['category_id']}" base="public"}' title='{$this->lang->words['ccscat_markread']}'><img src='{$this->settings['img_url']}/icon_check.png' /> &nbsp;{$this->lang->words['ccscat_markread']}</a>
				</li>
			</if>
		</ul>
	</div>
	<br />
	<if test="!empty($data['filter_box'])">
		<div class='ipsLayout ipsLayout_withleft'>
			<div class='ipsLayout_left'>
				<div class='ipsBox'>
					<div class='ipsBox_container ipsSideMenu'>
						<foreach loop="$data['filter_box'] as $f">
							<h4>{$f['field_name']}</h4>
							<if test="count( $f['options'] ) < 15">
								<ul>
									<foreach loop="$f['options'] as $k => $odata">
										<php>
											if ($odata['value'] == "The Nights Watch"){
												$displayValue = "The Night's Watch";
											} else {
												$displayValue = $odata['value'];
											}
										</php>
										<if test="$this->_tempurl = str_replace( '&' . urlencode( "filters[{$f['field_id']}][{$k}]" ) . '=1', '', str_replace( '&' . urlencode( "filters[{$f['field_id']}][{$k}]" ) . '=0', '', $data['baseUrl'] ) )"></if>
										<if test="$odata['active']">
											<li class='active'>
												<a href='{$this->_tempurl}&amp;filters[{$f['field_id']}][{$k}]=0'>{$displayValue }</a>
											</li>
										<else />
											<li>
												<a href='{$this->_tempurl}&amp;filters[{$f['field_id']}][{$k}]=1'>{$displayValue }</a>
											</li>
										</if>
									</foreach>
								</ul>
							<else />
								<div class='ipsPad'>
									<form action='{parse expression="preg_replace( '/&filters\\[' . $f['field_id'] . '\\]\\[\\d*?\\]=(.+?)(&|$)/', "$2", urldecode( $data['baseUrl'] ) )"}' method='post'>
										<input type='hidden' name='reverse_filters[{$f['field_id']}]' value='1' />
										<select name='filters[{$f['field_id']}][]' multiple="multiple" style='max-width: 160px;'>
											<foreach loop="$f['options'] as $k => $odata">
												<option value='{$k}' <if test="$odata['active']">selected='selected'</if>>{$odata['value']}</option>
											</foreach>
										</select>
										<br />
										<input class='input_submit' type='submit' value='{$this->lang->words['filter_submit']}' />
									</form>
								</div>
							</if>
						</foreach>
					</div>
				</div>
			</div>
			<div class='ipsLayout_content'>
	</if>
				<div class='maintitle ipsFilterbar'>
					<ul class="ipsList_inline ipsType_small">
						<if test="( $this->request['sort_col'] == 'record_updated' and $this->request['sort_order'] == 'desc' ) or ( !$this->request['sort_col'] and $data['database']['database_field_sort'] == 'record_updated' and $data['database']['database_field_direction'] == 'desc' )">
							<li class="active"><a href='<if test="$data['parent']['category_link']">{$data['parent']['category_link']}?<else />{$data['database']['base_link']}</if>sort_col=record_updated&sort_order=desc'>{$this->lang->words['filter_last_updated']}</a></li>
							<li class=""><a href='<if test="$data['parent']['category_link']">{$data['parent']['category_link']}?<else />{$data['database']['base_link']}</if>sort_col=record_saved&sort_order=desc'>{$this->lang->words['filter_start_date']}</a></li>
							<li class=""><a href='<if test="$data['parent']['category_link']">{$data['parent']['category_link']}?<else />{$data['database']['base_link']}</if>sort_col=record_views&sort_order=desc'>{$this->lang->words['filter_most_views']}</a></li>
							<li class=""><a href='#cat_filter_menucontent' id='cat_filter'>{$this->lang->words['filter_custom']}</a></li>
						<else />
							<if test="( $this->request['sort_col'] == 'record_saved' and $this->request['sort_order'] == 'desc' ) or ( !$this->request['sort_col'] and $data['database']['database_field_sort'] == 'record_saved' and $data['database']['database_field_direction'] == 'desc' )">
								<li class=""><a href='<if test="$data['parent']['category_link']">{$data['parent']['category_link']}?<else />{$data['database']['base_link']}</if>sort_col=record_updated&sort_order=desc'>{$this->lang->words['filter_last_updated']}</a></li>
								<li class="active"><a href='<if test="$data['parent']['category_link']">{$data['parent']['category_link']}?<else />{$data['database']['base_link']}</if>sort_col=record_saved&sort_order=desc'>{$this->lang->words['filter_start_date']}</a></li>
								<li class=""><a href='<if test="$data['parent']['category_link']">{$data['parent']['category_link']}?<else />{$data['database']['base_link']}</if>sort_col=record_views&sort_order=desc'>{$this->lang->words['filter_most_views']}</a></li>
								<li class=""><a href='#cat_filter_menucontent' id='cat_filter'>{$this->lang->words['filter_custom']}</a></li>
							<else />
								<if test="( $this->request['sort_col'] == 'record_views' and $this->request['sort_order'] == 'desc' ) or ( !$this->request['sort_col'] and $data['database']['database_field_sort'] == 'record_views' and $data['database']['database_field_direction'] == 'desc' )">
									<li class=""><a href='<if test="$data['parent']['category_link']">{$data['parent']['category_link']}?<else />{$data['database']['base_link']}</if>sort_col=record_updated&sort_order=desc'>{$this->lang->words['filter_last_updated']}</a></li>
									<li class=""><a href='<if test="$data['parent']['category_link']">{$data['parent']['category_link']}?<else />{$data['database']['base_link']}</if>sort_col=record_saved&sort_order=desc'>{$this->lang->words['filter_start_date']}</a></li>
									<li class="active"><a href='<if test="$data['parent']['category_link']">{$data['parent']['category_link']}?<else />{$data['database']['base_link']}</if>sort_col=record_views&sort_order=desc'>{$this->lang->words['filter_most_views']}</a></li>
									<li class=""><a href='#cat_filter_menucontent' id='cat_filter'>{$this->lang->words['filter_custom']}</a></li>
								<else />
									<li class=""><a href='<if test="$data['parent']['category_link']">{$data['parent']['category_link']}?<else />{$data['database']['base_link']}</if>sort_col=record_updated&sort_order=desc'>{$this->lang->words['filter_last_updated']}</a></li>
									<li class=""><a href='<if test="$data['parent']['category_link']">{$data['parent']['category_link']}?<else />{$data['database']['base_link']}</if>sort_col=record_saved&sort_order=desc'>{$this->lang->words['filter_start_date']}</a></li>
									<li class=""><a href='<if test="$data['parent']['category_link']">{$data['parent']['category_link']}?<else />{$data['database']['base_link']}</if>sort_col=record_views&sort_order=desc'>{$this->lang->words['filter_most_views']}</a></li>
									<li class="active"><a href='#cat_filter_menucontent' id='cat_filter'>{$this->lang->words['filter_custom']}</a></li>
								</if>
							</if>
						</if>
					</ul>
				</div>
				<div id='cat_filter_menucontent' class='ipbmenu_content ipsPad' style='display: none'>
					<form id='filter_form' action="<if test="$data['parent']['category_link']">{$data['parent']['category_link']}<else />{$data['database']['base_link']}</if>" method="post">
						<strong>{$this->lang->words['db_records__sortby']}</strong><br />
						<select name='sort_col'>
							<option value='primary_id_field'<if test="$this->request['sort_col'] == 'primary_id_field'"> selected='selected'</if>>{$this->lang->words['field__id']}</option>
							<option value='member_id'<if test="$this->request['sort_col'] == 'member_id'"> selected='selected'</if>>{$this->lang->words['field__member']}</option>
							<option value='record_saved'<if test="$this->request['sort_col'] == 'record_saved'"> selected='selected'</if>>{$this->lang->words['field__saved']}</option>
							<option value='record_updated'<if test="$this->request['sort_col'] == 'record_updated'"> selected='selected'</if>>{$this->lang->words['field__updated']}</option>
							<option value='rating_real'<if test="$this->request['sort_col'] == 'rating_real'"> selected='selected'</if>>{$this->lang->words['field__rating']}</option>
							<option value='record_views'<if test="$this->request['sort_col'] == 'record_views'"> selected='selected'</if>>{$this->lang->words['field__views']}</option>
							<foreach loop="$data['fields'] as $field">
								<if test="in_array( $field['field_type'], array( 'input', 'textarea', 'radio', 'select' ) )">
									<option value='field_{$field['field_id']}'<if test="$this->request['sort_col'] == 'field_' . $field['field_id']"> selected='selected'</if>>{$field['field_name']}</option>
								</if>
							</foreach>
						</select>
						<br /><br />
						<strong>{$this->lang->words['db_records__sortorder']}</strong><br />
						<select name='sort_order'>
								<option value='asc'<if test="$this->request['sort_order'] == 'asc'"> selected='selected'</if>>{$this->lang->words['db_records__asc']}</option>
								<option value='desc'<if test="$this->request['sort_order'] == 'desc'"> selected='selected'</if>>{$this->lang->words['db_records__desc']}</option>
						</select>
						<br /><br />
						<input type="submit" value="{$this->lang->words['dbrecord_resort']}" class="input_submit" />
					</form>
				</div>
				<script type='text/javascript'>
					new ipb.Menu( $('cat_filter'), $('cat_filter_menucontent'), { stopClose: true } );
				</script>
				<div class='ipsBox'>
					<div class='ipsBox_container'>
						<if test="count($data['records'])">
							<table class='ipb_table topic_list hover_rows'>
								<tr>
									<th class='col_f_icon altrow short'>&nbsp;</th>
									<th style='width:90px'>Investigator</th>
									<th>Deck</th>
									<th style="min-width:200px">&nbsp;</th>
								</tr>
								<foreach loop="$data['records'] as $record">
									<php>
										$tagarray = explode(",",$record['deck_tags']);
										$tagstring = "";
										foreach($tagarray as $tag){
											$tagstring .= "<span class='ipsTag'>".$tag."</span>";
										}

										$deckjson = $record['field_670'];
										$deckinvestigator = $record['field_671'];
										$obj = json_decode(htmlspecialchars_decode($deckjson , ENT_QUOTES));
										$objI = json_decode(htmlspecialchars_decode($deckinvestigator , ENT_QUOTES));
										
										$cardIDs = ",";
										$arrayCards = array(
										    "Investigator" => "<div><strong>Investigator:</strong><br />",
										    "Weakness" => "<div class='deckSection'><strong>Weakness:</strong><br />",
										    "Asset" => "<div class='deckSection'><strong>Asset:</strong><br />",
										    "Event" => "<div class='deckSection'><strong>Event:</strong><br />",
										    "Skill" => "<div class='deckSection'><strong>Skill:</strong><br />",
										);
										foreach ($obj as $card){
											if ($card->wtype == "Weakness" || $card->wtype == "Basic Weakness"){
												$arrayCards["Weakness"] .= $card->quantity."x ".strip_tags($card->name)." (".$card->set.")<br />";
											} else if ($card->type == "Investigator") {
												$arrayCards[$card->type] .= $card->quantity."x ".strip_tags($card->name)." (".$card->set.")<br />";
											} else {
												$arrayCards[$card->type] .= $card->quantity."x ".strip_tags($card->name)." [".$card->lvl."] (".$card->set.")<br />";
											}
											
										}
										$investigatorImages = "";
										$deckPreview =implode("</div>",$arrayCards)."</div>";
										foreach ($objI as $investigator){
											$investigatorImages = "<img class='investigatorImage' src='{$investigator->imgf}' data-imagefront='{$investigator->imgf}' data-imageback='{$investigator->imgb}' />";
										}

									</php>
									<if test="$record['record_approved'] < 1">
										<tr class='__topic moderated' style='vertical-align:top'>
									<else />
										<tr class='__topic <if test="!$record['_isRead']">unread</if>' style='vertical-align:top'>
									</if>												   
									<td class='col_f_icon altrow short'>
										<if test="!$record['_isRead']">
											<if test="$record['_iPosted']">{parse replacement="t_unread_dot"}<else />{parse replacement="t_unread"}</if>
										<else />
											<if test="$record['_iPosted']">{parse replacement="t_read_dot"}<else />{parse replacement="t_read"}</if>
										</if>
									</td>
									<td class="deckInvestigator">
										{$investigatorImages}
									</td>
									<td class="deckTextInfo">
										<if test="$record['record_pinned']">{parse template="topicPrefixWrap" group="forum" params="$this->lang->words['pre_pinned']"}</if>
										<if test="!empty($record['tags']['formatted']['prefix'])">{$record['tags']['formatted']['prefix']}</if>
										<h4>
											<if test="$record['record_approved'] == 0">
												<span class='ipsBadge ipsBadge_orange'>{$this->lang->words['f_queued_badge']}</span>
											<else />
												<if test="$record['record_approved'] == -1">
													<span class='ipsBadge ipsBadge_orange'>{$this->lang->words['f_deleted_badge']}</span>
												</if>
											</if>
											<a href='{$record['record_link']}'>{$record['deck_name']}</a> [Version: {$record['deck_version']}]
											<if test="$record['record_comments_queued'] AND $data['database']['moderate_approvec']">
												<br /><em class='moderated'><a href='{$record['record_link']}?comments=unapproved#commentsStart' title='{$this->lang->words['comments_pending_app_title']}' class='comments'>{parse expression="sprintf( $this->lang->words['comments_queued_tooltip'], $record['record_comments_queued'] )"}</a></em>
											</if>
											
											<button class='buttonDeckPreviewToggle'>Preview Deck</button>
										</h4>
										<if test="isset($record['tags']) AND $record['tags']">
											&nbsp; <img src='{$this->settings['img_url']}/icon_tag.png' /> <span class='desc lighter blend_links'>{$record['tags']['formatted']['truncatedWithLinks']}</span>
										</if>
										<div>
										{$record['field_667_value']}
										</div>
										<div id="divDeckPreview{$record['primary_id_field']}" class='divDeckPreview' style="display:none">
										{$deckPreview }
											<div class="clear"></div>
										</div>
									</td>
									<td class="micDeckInfo">
										{parse template="userHoverCard" group="global" params="$record"}, {parse date="$record['record_saved']" format="SHORT"}
										<br /> {$this->lang->words['last_updated_record']} {parse date="$record['record_updated']" format="SHORT"}
										<br />{$record['record_comments']} comments, {$record['record_views']} views
										<br /><if test="$record['rating_real'] >= 1">{parse replacement="rate_on"}<else />{parse replacement="rate_off"}</if><if test="$record['rating_real'] >= 2">{parse replacement="rate_on"}<else />{parse replacement="rate_off"}</if><if test="$record['rating_real'] >= 3">{parse replacement="rate_on"}<else />{parse replacement="rate_off"}</if><if test="$record['rating_real'] >= 4">{parse replacement="rate_on"}<else />{parse replacement="rate_off"}</if><if test="$record['rating_real'] >= 5">{parse replacement="rate_on"}<else />{parse replacement="rate_off"}</if>
										<br />{$tagstring}
									</td>
									</tr>
								</foreach>
							</table>
						<else />
							<div class='no_messages'>{$this->lang->words['no_records_found']}</div>
						</if>
					</div>
				</div>
	<if test="!empty($data['filter_box'])">
			</div>
		</div>
	</if>
	<br />
	<div class='topic_controls clear clearfix'>
		{$data['pages']}
	</div>
	<br /><br />
	</if>