<!--
Name: Arkham Horror Deck Display
Location: Database Template in IPContent
Instructions on use: In the database template section add this template as a 'Display' template. After adding this must change the Arkham Horror Submitted Decks database to use this template
-->
{ccs special_tag="navigation"}
{parse js_module="rating"}
{parse template="include_lightbox" group="global" params=""} 
{parse template="include_highlighter" group="global" params="1"}
<style type="text/css">
		.searchDivImage{ float:left; }
		.searchText { margin-left:325px !important}
		.searchTextPlot {margin-left:420px !important}
		.searchTextRowLabel {width:100px;float:left;font-weight:bold;margin-top:5px;text-align:right;margin-right:7px;}
		.searchTextContent {margin-left:105px;margin-top:5px}
		.searchLiCard {margin-top:3px;padding:3px;padding:3px}
		.searchDivCard {background:white;color:black;border-radius:9px;padding: 3px;}
		.searchImgCard {padding: 3px;background: white;border-radius: 5px;}
		.searchH1Name {width:100%;text-indent:0px;font-weight:bold}
		.deckcount {font-size:50px;text-align:center;}
		.spoilerHeader {font-size:50px;}
		.ui-button {padding:5px !important;}
		.ui-menu { position: absolute; width: 100px;z-index:11; }
		.ui-menu li>span{ cursor:pointer; }
		#controls {float:right;padding: 4px;
   			 display: inline-block;}
   		#divExportContainer {border:2px solid black;background:whitesmoke;display:none;position:absolute;z-index:10;box-shadow: black 6px 6px 12px;border-radius:5px;}
		.R {
			padding: 0px 4px;
			height: 12px;
			line-height: 12px;
			background: #AC142C;
			color: #fff !important;
			font-size: 9px;
			text-align: center;
			-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
			-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
		}

		.twoline {line-height:3.5em;}
		.cardComments,.searchDivImage>div.rating {display:none;}
		#restrictedContainer{
			white-space:pre-wrap;
		}
		.spoilerIcon{
			max-width:25px;
		}
		.divImageText {
			display:none;
		}
		</style>
<php>
	$data['record'] = IPSMember::buildDisplayData( $data['record'] );
	</php>
<if test="$data['database']['database_rate']">
	<div class='right'>
		<if test="$this->memberData['member_id']">
			{$data['follow_data']}
		</if>
		<div class='rating ipsType_smaller ipsPad_top_half right clear'>
			<if test="$data['database']['_can_rate']">
					<a href='#' id='article_rate_1' title='{$this->lang->words['top_js_1star']}'>
			</if>
			<if test="rate1:|:$data['record']['rating_real'] >= 1">
					{parse replacement="rate_on"}
			<else />
					{parse replacement="rate_off"}
			</if>
			<if test="$data['database']['_can_rate']">
					</a><a href='#' id='article_rate_2' title='{$this->lang->words['top_js_2star']}'>
			</if>
			<if test="rate2:|:$data['record']['rating_real'] >= 2">
					{parse replacement="rate_on"}
			<else />
					{parse replacement="rate_off"}
			</if>
			<if test="$data['database']['_can_rate']">
					</a><a href='#' id='article_rate_3' title='{$this->lang->words['top_js_3star']}'>
			</if>
			<if test="rate3:|:$data['record']['rating_real'] >= 3">
					{parse replacement="rate_on"}
			<else />
					{parse replacement="rate_off"}
			</if>
			<if test="$data['database']['_can_rate']">
					</a><a href='#' id='article_rate_4' title='{$this->lang->words['top_js_4star']}'>
			</if>
			<if test="rate4:|:$data['record']['rating_real'] >= 4">
					{parse replacement="rate_on"}
			<else />
					{parse replacement="rate_off"}
			</if>
			<if test="$data['database']['_can_rate']">
					</a><a href='#' id='article_rate_5' title='{$this->lang->words['top_js_5star']}'>
			</if>
			<if test="rate5:|:$data['record']['rating_real'] >= 5">
					{parse replacement="rate_on"}
			<else />
					{parse replacement="rate_off"}
			</if>
			<if test="$data['database']['_can_rate']">
					</a>
					<script type='text/javascript'>
									rating = new ipb.rating( 'article_rate_', { 
																			url: ipb.vars['base_url'] + 'app=ccs&module=ajax&section=rate&id={$data['database']['database_id']}&record={$data['record']['primary_id_field']}&md5check=' + ipb.vars['secure_hash'],
																			cur_rating: <if test="isset($data['record']['rating_real'])">{$data['record']['rating_real']}<else />0</if>,
																			rated: null,
																			allow_rate: <if test="$data['database']['_can_rate']">1<else />0</if>,
																			show_rate_text: false
																	  } );
					</script>
			</if>
		</div>
	</div>
	<else />
	<if test="$this->memberData['member_id']">
		{$data['follow_data']}
	</if>
	</if>
{parse template="userSmallPhoto" group="global" params="array_merge( $data['record'], array( '_customClass' => 'ipsUserPhoto_medium' ) )"}
<div class='ipsBox_withphoto'>
	<h1 class='ipsType_pagetitle'>
	<if test="$data['record']['record_approved'] == 0">
		<span class='ipsBadge ipsBadge_orange'>{$this->lang->words['f_queued_badge']}</span>
	<else />
		<if test="$data['record']['record_approved'] == -1">
			<span class='ipsBadge ipsBadge_orange'>{$this->lang->words['f_deleted_badge']}</span>
		</if>
	</if>
	{$data['record'][$data['database']['database_field_title'] . '_value' ]}
	</h1>
	<div class='desc lighter blend_links'>
		{$this->lang->words['submitted_by_record']} {parse template="userHoverCard" group="global" params="$data['record']"}, {parse date="$data['record']['record_saved']" format="SHORT"} | {$this->lang->words['last_updated_record']} {parse date="$data['record']['record_updated']" format="SHORT"}
	</div>
	<if test="hasTags:|:is_array($data['record']['tags'])">
		{$data['record']['tags']['formatted']['parsedWithoutComma']}
	</if>
	</div>
<br />

	<style type='text/css'>
		.deckcard{ font-size:14px;padding:1px; }
		.deckcard a { font-weight:bold; }
		#displayedCard { 
			padding: 6px;
			background: white;
			border-radius: 9px;
		}
		.stickem-container {
			position: relative;
		}

		.stickit {
			margin-left: 400px;
			position: fixed;
			top: 90px;
		}

		.stickit-end {
			bottom: 0;
			position: absolute;
			left: 400px;
		}
		#canvasLoader {
			text-align:center;
		}

	</style>

<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/heartcode-canvasloader-min-0.9.1.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/jquery-1.9.1.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/jquery-ui1.10.2.js'> </script>
<link rel="stylesheet" href='{parse block="deckbuilder_css_path"}/css/jquery-ui1.10.2.css'>
<link rel="stylesheet" href='{parse block="deckbuilder_css_path"}/arkhamhorror/css/ahdeckbuilder.2.1.0.css'>

<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/phpjs.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/arkhamhorror/database/ah-db-0.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/taffy-min.js'></script>
<script>
var jQuery_1_9_1 = $.noConflict(true);
jQuery_1_9_1 (document).ready(function($) {
	$( "#buttonSetViewDeck" ).buttonset();
	$( "#exportDeck" ).button({
		  text: true,
		  icons: {
			primary: "ui-icon-triangle-1-s"
		  }
		}).click(function() {
		  var menu = $(this).next().toggle().position({
			my: "left top",
			at: "left bottom",
			of: this
		  });
		  $( document ).one( "click", function() {
			menu.hide();
		  });
		  return false;
		}).next().hide().menu();
	$("#exportBBCode").click(function(){
		$("#divExportContainer").show().position({
			my: "right top",
				at: "right bottom",
				of: $('#controls')[0]
			  });
	});
	$("#exportClose").button({
		  text: false,
		  icons: {
			primary: "ui-icon-closethick"
		  }
		}).click(function(){
			$('#divExportContainer').hide();
		});
		});
</script>
<div class="ipsBox">
	<div class="ipsBox_container ipsPad ipsType_textblock">
		 <div>
		 	{parse template="repButtons" group="global_other" params="$data['record'], array_merge( array( 'primaryId' => $data['record']['primary_id_field'], 'domLikeStripId' => 'like_post_' . $data['record']['primary_id_field'], 'domCountId' => 'rep_post_' . $data['record']['primary_id_field'], 'app' => 'ccs', 'type' => 'record_id_' . $data['database']['database_id'], 'likeFormatted' => $data['record']['like']['formatted'] ), $data['record'] )"}
		 </div>
	 <div id="divDeckLoading">
	 <div id="canvasloader-container" class="wrapper"><div id="canvasLoader" style="display: block; position: absolute; top: -100px; left: -100px;text-align:center;"><canvas width="200" height="200"></canvas><canvas width="200" height="200" style="display: none;"></canvas></div></div>
	 <script type="text/javascript">
		var cl = new CanvasLoader('canvasloader-container');
		cl.setColor('#e2e2eb'); // default is '#000000'
		cl.setShape('spiral'); // default is 'oval'
		cl.setDiameter(200); // default is 40
		cl.setDensity(15); // default is 40
		cl.setSpeed(1); // default is 2
		cl.setFPS(17); // default is 24
		cl.show(); // Hidden by default

		// This bit is only for positioning - not necessary
		  var loaderObj = document.getElementById("canvasLoader");
  		loaderObj.style.position = "absolute";
  		loaderObj.style["top"] = cl.getDiameter() * -0.5 + "px";
  		loaderObj.style["left"] = cl.getDiameter() * -0.5 + "px";


	</script>
	 </div>
	 <div style="padding:10px;min-height: 500px;display:none;" id="shareDeckContainer" class="">
			<div style="padding-bottom:8px">		
				<php>
					$tagarray = explode(",",$data['record']['deck_tags']);
					$tagstring = "";
					foreach($tagarray as $tag){
						$tagstring .= "<span class='ipsTag'>".$tag."</span>";
					}
				</php>
				<div id="controls" class="ui-widget-header ui-corner-all">
					<button id="exportDeck">Export Deck</button>
					<ul id="exportMenuA" class="ui-menu">
						<li><span id="exportText">Text File</span></li>
						<!--<li><span id="exportOCTGN">OCTGN</span></li>-->
						<li><span id="exportBBCode">BBCode</span></li>
					  </ul>
					<span id="buttonSetViewDeck">
						<input type="radio" id="viewDeckList" name="viewDeck" checked="checked" /><label for="viewDeckList">List</label>
						<input type="radio" id="viewDeckSpoiler" name="viewDeck"/><label for="viewDeckSpoiler">Spoiler</label>
						</span>
				</div>
				<div id="divExportContainer"><div style="padding:10px;">Copy the Decklist Below:</div><div id="exportClose" style="float:right;position:absolute;top:5px;right:5px;">Close</div><textarea id="exportTextArea" style="margin:5px;width:760px;height:400px"></textarea></div>
				<form action="{parse block="deckbuilder_script_path"}/offlinesave.php" method="post" id="decksave">
					<input type="hidden" name="offlineName" id="offlineName" value="{$data['record'][$data['database']['database_field_title'] . '_value' ]}">
					<input type="hidden" name="fileType" id="fileType" value="">
					<input type="hidden" name="dcont" id="dcont" value="">
				</form>
				<div id="dFactions">
				<php>
					$classimage = "ahc01-". strtolower ($data['record']['field_677'] );
				</php>
				<img src="http://www.cardgamedb.com/deckbuilders/arkhamhorror/{$classimage}.jpg" alt="{$data['record']['field_677_value']}" />
				</div>
				<div id="dTags" style="white-space:pre;">{$tagstring}</div>
				<div id="dTeaser" style="white-space:pre-wrap;min-height:50px">{$data['record']['field_667_value']}</div>
				
			</div>
			<div id="deckSpoiler" style="display:none"></div>
			<div id="deckContents" class="deck stickem-container " style="min-height: 600px;">
				<div  class="left"  style="width:400px">
					<div>
						<div style="margin-top:10px;"><ul id="dInvestigator"></ul></div>
						<div style="margin-top:10px;"><ul id="dWeaknesses"></ul></div>
					</div>
					<div>
						<div style="padding-bottom:5px">Order by:<br />
							<span id='sortName' class='ipsButton_secondary' >Name</span> <span id='sortType' class='ipsButton_secondary'>Type</span> <span id='sortCost' class='ipsButton_secondary'>Cost</span>
						</div>
						<div style="padding-bottom:5px;font-size:14px;font-weight:bold;">
							Total Cards: <span id="totalCards">0</span>
						</div>
						<div id="divContent">
						<ul id="dContent"></ul><ul id="dContent2" style="display: none"></ul>
						</div>
	
					</div>
					<div style="clear:both;"></div>
				</div>
				<div class="stickem left" id="cardContainer">
					<div id="cardDisplay" style="height:500px;width:260px;background-image: url('{parse block="deckbuilder_image_path"}/images/card-loading-wide.gif'); background-repeat:no-repeat;background-position:center top;">
						<img id="displayedCard" src="{parse block="deckbuilder_image_path"}/images/hover-card.jpg" style="max-width: 450px; " width="204">
					</div>
					<div id="cardDisplayText" style="padding:10px;width:300px;white-space:pre-wrap;"></div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div id="mySpacer">&nbsp;</div>
			<div>
				<div id="dStrat" style="padding:10px;white-space:pre-wrap;font-size:14px;">{$data['record']['field_668_value']}</div>
			</div>
			<div>
				<div>	
					<div style="width:350px;float:left;">Sample Hand: <img src="{parse block="deckbuilder_image_path"}/images/arrow_rotate_clockwise.png" id="reloadSample" alt="Redraw starting hand." />
					<img src="{parse block="deckbuilder_image_path"}/images/add.png" id="drawone" alt="Draw 1 Card" />
						<div id="sampleHand"></div> 
					</div>
					<div id="otherInfo" style="margin-left:351px;">

					</div>
					
					
					<div style="clear:both;"></div>
				</div>					
			</div>
			<div>
				<div>
		<div id="chart4" style="height: 400px;float:left;margin:4px;"></div>
		<div id="chart5" style="width:300px; height: 400px;float:left;margin:4px;"></div>
		<div id="chart6" style="width:300px; height: 400px;float:left;margin:4px;"></div>


				</div>
			</div>
	</div>
	<div class="clear"></div>
	</div>
	<div class="clear"></div>
	</div>
<div class='ipsPad'>
	<if test="$this->settings['sl_enable']">
		<div style='float: left'>
			{parse template="facebookLike" group="ccs_global" params="$data['record']['record_link']"}
			{IPSLib::shareLinks( $data['record'][ $data['database']['database_field_title'] . '_value' ], array( 'overrideApp' => 'ccs' ) )}
		</div>
	</if>
	<if test="$this->memberData['member_id']">
		<div style='float: right'>
			<ul class='post_controls'>
				<if test="$data['database']['_can_edit']">
					<li><a href='{$data['record']['record_link']}do=edit' title='{$this->lang->words['edit_record_button']}' accesskey='s'>{$this->lang->words['edit_record_button']}</a></li>
				<else />
					<li class='disabled'><span>{$this->lang->words['edit_record_button_no']}</span></li>
				</if>

				<if test="$data['record']['record_locked'] AND $data['database']['moderate_unlock']">
					<li><a href='{$data['record']['record_link']}do=unlock&amp;secure_key={$this->member->form_hash}' title='{$this->lang->words['unlock_record']}' accesskey='l'>{$this->lang->words['unlock_record']}</a></li>
				<else />
					<if test="!$data['record']['record_locked'] AND $data['database']['moderate_lock']">
						<li><a href='{$data['record']['record_link']}do=lock&amp;secure_key={$this->member->form_hash}' title='{$this->lang->words['lock_record']}' accesskey='l'>{$this->lang->words['lock_record']}</a></li>
					</if>
				</if>

				<if test="$data['database']['moderate_pin']">
					<if test="$data['record']['record_pinned']">
						<li><a href='{$data['record']['record_link']}do=unpin&amp;secure_key={$this->member->form_hash}' title='{$this->lang->words['unpin_record']}'>{$this->lang->words['unpin_record']}</a></li>
					<else />
						<li><a href='{$data['record']['record_link']}do=pin&amp;secure_key={$this->member->form_hash}' title='{$this->lang->words['pin_record']}'>{$this->lang->words['pin_record']}</a></li>
					</if>
				</if>

				<if test="$data['database']['moderate_approve']">
					<if test="$data['record']['record_approved'] == 0">
						<li><a href='{$data['record']['record_link']}do=approve&amp;secure_key={$this->member->form_hash}' title='{$this->lang->words['approve_record']}'>{$this->lang->words['approve_record']}</a></li>
					</if>
				</if>

				<if test="$data['database']['moderate_delete']">
					<li><a href='{$data['record']['record_link']}do=delete' title='{$this->lang->words['delete_record']}'>{$this->lang->words['delete_record']}</a></li>
					<if test="$data['record']['record_approved'] == 1">
						<li><a href='{$data['record']['record_link']}do=unapprove&amp;secure_key={$this->member->form_hash}' title='{$this->lang->words['unapprove_record']}'>{$this->lang->words['unapprove_record']}</a></li>
					<else />
						<if test="$data['record']['record_approved'] == -1">
							<li><a href='{$data['record']['record_link']}do=approve&amp;secure_key={$this->member->form_hash}' title='{$this->lang->words['unhide_record']}'>{$this->lang->words['unhide_record']}</a></li>
						</if>
					</if>
				</if>
				<if test="$data['database']['moderate_restorer'] AND $data['database']['database_revisions']">
					<li><a href='{$data['record']['record_link']}do=revisions' title='{$this->lang->words['record_revisions']}' class='right'>{$this->lang->words['record_revisions']}</a></li>
				</if>
				<if test="$data['database']['_can_report']">
					<li class='report'>
						<a href='{parse url="app=core&amp;module=reports&amp;rcom=ccs&amp;database={$data['database']['database_id']}&amp;record={$data['record']['primary_id_field']}" base="public"}'>{$this->lang->words['report_record']}</a>
					</li>
				</if>
			</ul>
		</div>
	</if>
	</div>
<br /><br />
<if test="$data['database']['database_comments']">
<div id='commentsStart' class='ipsBox'>
	<div class='ipsBox_container ipsPad'>
		<h2 class='ipsType_subtitle'>{$data['comments']['count']} {$this->lang->words['comment_block']}</h2>
		<div class='comment_wrap'>
			{$data['comments']['html']}
		</div>
	</div>
	</div>
<br />
</if>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/jquery.quicksand.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/jquery.stickem.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/javascript/jquery.easing.1.3.js'></script>
<script type="text/javascript">
var deckbuilderGlobals = new deckbuilderGlobalsSetup;

function deckbuilderGlobalsSetup(){
	this.script_path = '{parse block="deckbuilder_script_path"}';
	this.image_path = '{parse block="deckbuilder_image_path"}';
	this.card_images_path = 'http://lcg-cdn.fantasyflightgames.com/ahc/';
	this.css_path = '{parse block="deckbuilder_css_path"}';
	this.viewType = 'submitted';
	this.rawdeck = '{$data['record']['field_670']}';
	this.deckclass = '{$data['record']['field_677_value']}';
	this.dformat = '';
}	

</script>
<!-- Includes for Google Charts. Unfortunately their terms of service do not allow us to host this.-->
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
</script>

<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/arkhamhorror/javascript/ahdecksection.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/arkhamhorror/javascript/ahtemplates.0.0.0.js'></script>
<script type="text/javascript" language="javascript" src='{parse block="deckbuilder_script_path"}/arkhamhorror/javascript/ahdeckviewbuilder.js'></script>